In [1]:
import os
import pandas as pd

In [2]:
DATA_FILE = os.path.expanduser('~/Documents/datasets/uci/CNAE-9/CNAE-9.data')

In [3]:
df = pd.read_csv(DATA_FILE, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,847,848,849,850,851,852,853,854,855,856
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df = df.rename(columns={0: 'Class'})

In [12]:
df['Class'].value_counts()

9    120
8    120
7    120
6    120
5    120
4    120
3    120
2    120
1    120
Name: Class, dtype: int64

Actually, CNAE is pretty fine, there's no need to change